################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/marka_api/.env
/marka_api/.vs
/marka_api/bin/Debug/net8.0
/marka_api/obj
