################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/marka_api/.env
